.headerbar-component {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    outline: 1px dotted darkblue;
    justify-content: center;
}

.headerbar-component-branding,
.headerbar-component-userprofile {
    flex: 1;
    outline: 1px dotted dodgerblue;
}

.headerbar-component-searchbox {
    flex: 6;
    width: 110%;
    outline: 1px dotted sandybrown;
}