.chatitem-item {
    display: flex;
    flex-direction: column;
}

.chatitem-email, .chatitem-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18vw;
}

.chatitem-email {
    font-weight: bold;
}

.chatitem-name {
    font-weight: 400;
    opacity: .7;
}